/* Colores principales */
:root {
    --fondo-principal: #1C1F33;
    --texto-principal: #FFFFFF;
    --elemento-activo: #E63946;
    --fondo-secundario: #ECEFF1;
}

/* MENU */
.contenedor-header {
    background: var(--fondo-principal);
}

.contenedor-header header .logo a {
    color: var(--elemento-activo);
}

.contenedor-header header nav ul li a {
    color: var(--texto-principal);
}

.contenedor-header header nav ul li a:hover {
    color: var(--elemento-activo);
}

.nav-responsive {
    background-color: var(--elemento-activo);
}

/* SECCION I N I C I O */
.inicio {
    background: var(--fondo-principal);
    color: var(--texto-principal);
}

.inicio .contenido-banner {
    background-color: var(--fondo-secundario);
    border-radius: 20px;
}

.inicio .contenido-banner img {
    border: 5px solid var(--elemento-activo);
}

.inicio .contenido-banner .redes a {
    border: 1px solid var(--texto-principal);
}

.inicio .contenido-banner .redes a:hover {
    background-color: var(--elemento-activo);
}

/* SECCION SOBRE MI */
.sobremi {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
}

.sobremi .contenido-seccion p span {
    color: var(--elemento-activo);
}

.sobremi .fila .col ul li strong {
    color: var(--elemento-activo);
}

.sobremi button .overlay {
    background-color: var(--elemento-activo);
}

/* SECCION SKILLS */
.skills {
    background-color: var(--fondo-secundario);
    color: var(--texto-principal);
}

/* SECCION CURRICULUM */
.curriculum {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
}

.curriculum .fila .item {
    background-color: var(--fondo-secundario);
}

.curriculum .fila .item h4 {
    color: var(--elemento-activo);
}

.curriculum .fila .item .casa {
    color: var(--elemento-activo);
}

.curriculum .fila .item .fecha {
    color: var(--elemento-activo);
}

/* SECCION PORTFOLIO */
.portfolio {
    background-color: var(--fondo-secundario);
    color: var(--texto-principal);
}

.portfolio .galeria .proyecto .overlay {
    background: linear-gradient(var(--elemento-activo), var(--elemento-activo));
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 0.9;
}

/* SECCION CONTACTO */
.contacto {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
}

.contacto button .overlay {
    background-color: var(--elemento-activo);
}

/* FOOTER */
footer {
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
}

footer .arriba {
    background-color: var(--elemento-activo);
}
